html,
body {
  height: 100%;
}

h1,
p {
  width: fit-content;
}

div.modal-header {
  background-color:   background-color: #F29D4B;
}
#header,
#footer {
  background-color: #F29D4B;
}

/* Páginas */

#seeker {
  background: url("../img/bg-home.png") no-repeat center;
  background-size: cover;
}
#nl{
  background-color:#fcfcfc;
}

#receta{
   background-color:#fcfcfc;
}
#receta_values{
   background-color:#D9DCD8;
}

#seeker>h1 {
  padding-top: 80px;
  padding-bottom: 20px;
}

#login {
  background: url("../img/bg-login.png") no-repeat center;
  background-size: cover;
  box-shadow: inset 0px 0px 1000px rgb(0 0 0 / 80%);
}

#register {
  background: url("../img/bg-register.png") no-repeat center;
  background-size: cover;
  box-shadow: inset 0px 0px 1000px rgb(0 0 0 / 80%);
}

#reset-pass {
  background: url("../img/bg-reset-pass.png") no-repeat center;
  background-size: cover;
  box-shadow: inset 0px 0px 1000px rgb(0 0 0 / 80%);
}

#login>div {
  border: solid 3px black;
  border-radius: 16px;
}

#reset-pass>div {
  border: solid 3px black;
  border-radius: 16px;
}

.user-access:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* Páginas */
.accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background-color: #6F6F6F;
}

/* Botones */

.btn-green {
  color: white;
  background-color: #6ECF59;
  border-color: #6ECF59;
}

.btn-green:hover {
  color: white;
  background-color: #3e7631;
  border-color: #6ECF59;
}

.feedme-link {
  color: #D57030;
  text-decoration: none;
}

.feedme-link:hover {
  color: #954E21;
}


/* Botones */
.card-buttons{
    height: 500px;
    width: 300px;

}

.container-action {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
