html,
body {
  height: 100%;
}

h1,
p {
  width: fit-content;
}

#header,
#footer {
  background-color: #F29D4B;
}

/* Páginas */

#seeker {
  background: url("../img/bg-home.png") no-repeat center;
  background-size: cover;
}

#seeker > h1 {
  padding-top: 80px;
  padding-bottom: 20px;
}

#login {
  background: url("../img/bg-login.png") no-repeat center;
  background-size: cover;
}

#register {
  background: url("../img/bg-register.png") no-repeat center;
  background-size: cover;
}

#reset-pass {
  background: url("../img/bg-reset-pass.png") no-repeat center;
  background-size: cover;
}

#login > div {
  border: solid 3px black;
  border-radius: 16px;
}

#reset-pass > div {
  border: solid 3px black;
  border-radius: 16px;
}

/* Páginas */

/* Botones */

.btn-blue {
  color: white;
  background-color: #1BA1E2;
  border-color: #1BA1E2;
}

.btn-blue:hover {
  color: white;
  background-color: #12709e;
  border-color: #1BA1E2;
}
 
.feedme-link {
  color: #D57030;
  text-decoration: none;
}
 
.feedme-link:hover {
  color: #954E21;
}
/* Botones */