{% extends "base.html" %}
{% block content %}
<div id="main">
  <div id="seeker" class="container-fluid">
    <h1 class="text-white fw-bold mx-auto">Good Food Better Life</h1>
    <p class="text-white mx-auto mb-lg-5 mb-4">Busca tu comida preferida</p>
    {% include 'seeker/seeker.html' %}
  </div>
  <div class="w-100 p-4 p-lg-0" style="margin: -3px;">
    <div class="row g-0">
      <div class="col d-none d-lg-block">
        {% load static %}
        <img src="{% static 'img/chica_sandia.png' %}" alt="Chica sandía" width="100%">
      </div>
      <div class="col text-center d-flex">
        <div class="container align-self-center" id="invitacion-registro">
          <h2 class="mb-lg-4 mb-3">Accede a más recetas y servicio especializado</h2>
          <p class="mb-lg-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="{% url 'register' %}">
            <button type="button" class="btn btn-green fw-bold">
              Regístrate
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}