{% extends "base.html" %} 
{% block content %}
  <nav id="header" class="navbar navbar-expand-lg navbar-light border-bottom border-4 border-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/feedme">FeedMe</a>
      <span>

        <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-green fw-bold">
          Cerrar sesión
          </button>
        </a>    
      </span>

      <a href="/login">
        <button type="button" class="btn btn-green fw-bold">
          Iniciar Sesión
        </button>
      </a>
    </div>
  </nav>
  <div id="main" class="h-100">
    <div id="seeker" class="container-fluid h-100">
      <h1 class="text-white fw-bold mx-auto">Good Food Better Life</h1>
      <p class="text-white mx-auto">Busca tu comida preferida</p>
      <div class="row">
        <div class="col">
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
