<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizer</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <nav id="header" class="navbar navbar-expand-lg navbar-light border-bottom border-4 border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">

      <img src="/static/dj_app/media/feedmeA-.png" alt="Localizer" style="width:110px;height:42px;">
    </a>


    <button type="button" class="btn btn-blue fw-bold" onclick="getlocation()">Encuentrate</button>
    <a href="/login">
      <button type="button" class="btn btn-green fw-bold">
        Iniciar Sesión
      </button>
    </a>


  </div>
</nav>

<div id="main">
  <div id="seeker" class="container-fluid">
    <h1 class="text-white fw-bold mx-auto">Mantente seguro</h1>
    <p class="text-black mx-auto mb-lg-5 mb-4">Donde quiera que estés</p>



    <p id ="location" class="text-white mx-auto mb-lg-5 mb-4 location"></p>
    <script>
        var x= document.getElementById("location");

        function getlocation() {
            if(navigator.geolocation){
                //alert("your browser is supporting Geolocation API")
                 navigator.geolocation.getCurrentPosition(showPosition);
            }
            else
            {
                alert("Sorry! your browser is not supporting")
            }
        }

        function showPosition(position){
      var x = "Te encuentras en (" + "Latitud: " + position.coords.latitude + ", " + "Longitud: " +    position.coords.longitude + ")";
               document.getElementById("location").innerHTML = x;
    }
    </script>


 {% include 'seeker/seeker.html' %}


<script>
  $('#busqueda').keydown(function(e) {
    if (e.keyCode == 13) {
      let tipo = $('select').val();
      if (tipo == 'alimento') {
        window.location.href = '/results?tipo=alimento&alimento=de';
      } else {
        window.location.href = '/results?tipo=receta&receta=de';
      }
    }
  })
</script>
  </div>
  <div class="w-100 p-4 p-lg-0" style="margin: -3px;">
    <div class="row g-0">
      <div class="col d-none d-lg-block">

        <img src="/static/img/chica_sandia.png" alt="Chica sandía" width="100%">
      </div>
      <div class="col text-center d-flex">
        <div class="container align-self-center" id="invitacion-registro">
          <h2 class="mb-lg-4 mb-3">Accede a más recetas y servicio especializado</h2>
          <p class="mb-lg-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="/register">
            <button type="button" class="btn btn-green fw-bold">
              Regístrate
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Footer -->
    <nav id="footer" class="navbar navbar-expand-lg navbar-light p-3">
      <div class="container-fluid">
        <p class="m-0">Sitio diseñado y desarrollado por DING | Todos los derechos reservados</p>
        <p class="m-0"><a class="text-dark text-decoration-none" href="/#">Aviso de privacidad</a> | <a class="text-dark text-decoration-none" href="/#">Términos y Condiciones</a></p>
      </div>
    </nav>

</body></html>
