<nav id="header" class="navbar navbar-expand-lg navbar-light border-bottom border-4 border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      {% load static %}
      <img src="{% static 'dj_app/media/feedmeA.png' %}" alt="FeedMe" style="width:110px;height:42px;">
    </a>
    {% if request.path != "/register" and request.path != "/login" and request.path != "/reset-pass" %}
    {% if request.user.is_authenticated %}
    <div class="btn-group">
      <a class="nav-link dropdown-toggle rounded-circle" href="#" id="btn-menu-usuario" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <button type="button" class="btn fw-bold rounded-circle">
          <i class="fa-solid fa-user"></i>
        </button>
      </a>
      <ul class="dropdown-menu dropdown-menu-end py-4 border-2 border border-dark" id="menu-usuario" aria-labelledby="btn-menu-usuario">
        <li>
          <a class="dropdown-item p-0 px-4 py-1" href="{% url 'esquema' %}">
            <div class="row g-0">
              <div class="col-2">
                <i class="px-1 fa-solid fa-list"></i>
              </div>
              <div class="col-9">
                Esquema alimenticio
              </div>
              <div class="col-1">
                <i class="fa-solid fa-chevron-right"></i>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a class="dropdown-item p-0 px-4 py-1" href="{% url 'logout' %}">
            <div class="row g-0">
              <div class="col-2">
                <i class="px-1 fa-solid fa-arrow-right-from-bracket"></i>
              </div>
              <div class="col-9">
                Cerrar sesión
              </div>
              <div class="col-1">
                <i class="fa-solid fa-chevron-right"></i>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    {% else %}
    <a href="{% url 'login' %}">
      <button type="button" class="btn btn-green fw-bold">
        Iniciar Sesión
      </button>
    </a>
    {% endif %}
    {% endif %}
  </div>
</nav>