{% extends "base.html" %}
{% block content %}
<div id="main" class="h-100 ">
  <div id="receta" class="container-fluid h-100 w-75 pb-5">
    <h1 class="text-dark fw-bold mx-auto py-5">{{ titulo }}</h1>
    {% if hayReceta %}
    <div class="row">
      <div class="col-6">
        <h1 class="text-dark fw-bold mx-auto mb-4">Receta</h1>
        <p>{{ receta.preparacion|linebreaks }}</p>
      </div>

      <div class="col-6">
        <h2 class="text-dark fw-bold mx-auto mb-4">Índice calórico: {{ calorias }} cal.</h2>
        <ul class="list-group list-group-flush">
          {% for alimento in receta.alimento.all %}
          <li class="list-group-item">{{ aliment.nombre }} - {{ alimento.calorias }} cal.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}