{% extends "base.html" %} 
{% block content %}
  <nav id="header" class="navbar navbar-expand-lg navbar-light border-bottom border-4 border-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/feedme">FeedMe</a>
    </div>
  </nav>

  <div id="main" class="h-100">
    <div id="reset-pass" class="container-fluid h-100 d-flex">
      <div class="container px-5 pt-4 pb-5 align-self-center w-50 bg-white">
        <h1 class="fw-bold mx-auto mb-4">Recupera tu contraseña</h1>
        <form class="text-center">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

                    <button type="submit" class="btn btn-blue fw-bold mt-3">Recuperar contraseña</button>
          <div class="mb-3">

            <p class="m-auto"> O <a class="feedme-link" href="/login">Iniciar sesión</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock content %}
