<div class="row justify-content-center">

<div class="col-12 col-md-8">
  <select class="form-select" aria-label="Default select example" placeholder="Lugar">
    <option>Selecciona el lugar donde te encuentre o desees conocer</option>

    {% for edificio in lugares %}
    {%if edificio.id == id_selected %}
    <option selected value="{{ edificio.id }}">{{edificio.nombre.nombre }} {{edificio.nombre_edificio}}  Piso: {{edificio.piso}}</option>
    {%else%}
    <option value="{{ edificio.id }}">
      {{edificio.nombre.nombre }} {{edificio.nombre_edificio}}  Piso: {{edificio.piso}}
      </option>
    {%endif%}
    {% endfor %}
  </select>

</div>

<div class="col col-lg-2">
<button id = "srch_button" type="button" onclick="redirect()" class="btn btn-primary fw-bold">
    Buscar
</button>
</div>



</div>




<script>

  function redirect(){
    let id = $('select').val();
    console.log(id);
    window.location.href = '/results?id='+id;
  }

  document.getElementById("srch_button").onclick = function() {
redirect()
  };



</script>
